.ui.icon.button.compact(data-bind="click: function(data, event) { $parents[1] ? $parents[1].like(data, event) : $parent.like(data, event) }", data-content="Show some love for the courses you've enjoyed!")
	i.heart.icon