.ui.icon.button.compact(data-bind="click: function(data, event) { $parents[1] ? $parents[1].remove(data, event) : $parent.remove(data, event) }", data-content="Remove course from calendar")
	i.remove.icon