.ui.icon.button.compact(data-bind="click: function(data, event) { $parents[1] ? $parents[1].subscribe(data, event) : $parent.subscribe(data, event) }", data-content="Get notified via email when this course opens up.")
	i.mail.icon