ul#menu.mfb-component--br.mfb-zoomin(data-mfb-toggle='hover')
  li.mfb-component__wrap
    a.mfb-component__button--main(href='#')
      i.mfb-component__main-icon--resting.share.alternate.icon
      i.mfb-component__main-icon--active.share.alternate.icon
    ul.mfb-component__list
      li
        a.mfb-component__button--child(href='http://www.facebook.com/share.php?u=https://uwcourses.com/&title=Better Quest Searching', data-mfb-label='Share on Facebook', target='_blank')
          i.mfb-component__child-icon.facebook.f.icon
      li
        a.mfb-component__button--child(href='http://twitter.com/share?text=Better Quest Searching!&url=https://uwcourses.com/&hashtags=waterloo,quest,classes', data-mfb-label='Share on Twitter', target='_blank')
          i.mfb-component__child-icon.twitter.icon
      li
        a.mfb-component__button--child(href='https://github.com/bscheibe/qu/', data-mfb-label='View on Github', target='_blank')
          i.mfb-component__child-icon.github.icon