.ui.masthead.vertical.segment
  .ui.container
    .introduction
      a(href="/")
        img.logo(src="/images/favicon.png" width="85px" alt="Q: University of Waterloo Course Search")
      .space-left.move-up.inline
        h1.ui.header.low-margin Advanced Quest Search
        h2.subliminal.text-steel-normal Search the #[a(href="https://uwaterloo.ca/") University of Waterloo]'s course directory by time, subject, professor and much more!
        //- span Created by Brent Scheibelhut | 
        span.subliminal.text-steel-light Send features requests and bug reports to #[a(href="mailto:brent@scheibelhut.com") brent@scheibelhut.com]
      .right.floated.content.align-middle
        span.status App Status: #[span(class="green-text") Available | Updated]
        a.header-link(href="/faq") FAQ