.ui.masthead.vertical.segment
  .ui.container
    .introduction
      a(href="/")
        img(src="/images/favicon.png" width="60px")
      .space-left.inline
        h1.ui.header Advanced Quest Search
        //- span Created by Brent Scheibelhut | 
        span Send features requests and bug reports to #[a(href="mailto:brent@scheibelhut.com") brent@scheibelhut.com]
      .right.floated.content.align-middle
        a.header-link(href="/FAQ") FAQ