//- Place this data between the <head> tags of your website
title Q: Waterloo's Advanced Quest Search

//- Open Graph data
meta(property="og:title" content="Q: Waterloo's Advanced Quest Search")
meta(property="og:type" content="website")
meta(property="og:url" content="https://uwcourses.com")
meta(property="og:image" content="https://uwcourses.com/images/favicon.png")
meta(property="og:description" content="UExplore the University of Waterloo's course directory by time, subject, professor and other options!")
meta(property='og:site_name', content='Q: UW Courses')

//- Google ownership
meta(name="google-site-verification" content="hbIjCCk0UDDtBX_rC7H_hlUw40Dz094mSMPp-zgZikw")
meta(name="google-site-verification" content="GoGoDLLD6bps8nlLCZE8-0cDccxkYg5LfENOP-ioObE")

meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
meta(name='viewport', content='width=device-width')
meta(name='viewport', content='initial-scale=1.0')

//- Basic Meta Data
meta(name="description" content="Explore the University of Waterloo's course directory by time, subject, professor and other options!")
meta(name='author', content='Brent Scheibelhut')
meta(name='keywords', content='Univsersity, Waterloo, Course, Search, Better, Explore')

//- Schema.org markup for Google+
meta(itemprop='name', content="Q: Waterloo's Advanced Quest Search")
meta(itemprop='description', content="Explore the University of Waterloo's course directory by time, subject, professor and other options!")
meta(itemprop='image', content='https://uwcourses.com/images/favicon.png')
link(href='https://uwcourses.com/images/favicon.png', rel='image_src')
meta(content='en_US', property='og:locale')
meta(content='brent.scheibelhut', property='fb:admins')
link(href='https://plus.google.com/109561166639292857885', rel='publisher')

//- Twitter Card data
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@4schybo')
meta(name='twitter:title', content="Q: Waterloo's Advanced Quest Search")
meta(name='twitter:description', content="Explore the University of Waterloo's course directory by time, subject, professor and other options!")
meta(name='twitter:creator', content='@4schybo')
meta(name='twitter:image:src', content='https://uwcourses.com/images/favicon.png')