//- Place this data between the <head> tags of your website
title Q: Waterloo's Advanced Quest Search
meta(name="description" content="University of Waterloo's Quest is abhorrent. Hopefully this helps!")

//- Twitter Card data
meta(name="twitter:card" content="summary")

//- Open Graph data
meta(property="og:title" content="Q: Waterloo's Advanced Quest Search")
meta(property="og:type" content="website")
meta(property="og:url" content="https://uwcourses.com")
meta(property="og:image" content="https://uwcourses.com/images/favicon.png")
meta(property="og:description" content="University of Waterloo's Quest is abhorrent. Hopefully this helps!")

//- Google ownership
meta(name="google-site-verification" content="hbIjCCk0UDDtBX_rC7H_hlUw40Dz094mSMPp-zgZikw")
meta(name="google-site-verification" content="GoGoDLLD6bps8nlLCZE8-0cDccxkYg5LfENOP-ioObE")