.ui.basic.modal#successModal
  i.close.icon
  .header Success :)
  .image.content
    .image
      i.checkmark.icon
    .description
      p You have successfully subscribed!
      p Remember this service runs every 15 minutes and is not guranteed to find you a spot.
  .actions
    .ui.green.basic.inverted.button(data-bind="click: closeSuccessModal")
      i.checkmark.icon
      span Close