doctype html
html
  head
    link(rel='stylesheet', href='/vendor/semantic/dist/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    include ./partials/favicon
    include ./partials/meta
  body
    .ui.four.column.centered.grid.faq
      .sixteen.wide.column
        include ./partials/header
        .ui.main.container.medium-margin-top
          h1#faq FAQ
          h3 What are Likes?
          p Currently this just saves to the database and doesn't do anything with the data yet. I may make some data visualizations with this, or add it as a filter. But do press it! It's getting saved.
          h3 What are Subscriptions?
          p Some courses are full at the start of the term, but when people move around their schedule they become open. I didn't want to have to constantly check back to see if they were open. This will allow you to subscribe to receive an email when the course opens up, it will then automatically unsubscribe you. No need for accounts. Just use the mail button next to a course.
          h3 How often does it update courses?
          p The current term and next term update every 6 hours, all other terms update every week.
          h3 How often does it check if a course is open?
          p Every 15 minutes.
          h3 Why does searching the next term return no results?
          p Because those courses do not have times set for them yet. If you want to see the courses that will be offered, search with the options 'Any Day' and 'Any Time', to see all the courses offered in future terms. If nothing is returned it's because the course selection has not yet been offered by the registrar.
          h3 Why didn't you add onto UWFlow?
          p Judging by the positive response on Reddit/Facebook along with the Google Analytics data - the need for something like this is there. UWCourses solves a fundamentally different problem than UWFlow. It solves the problem of "What courses are offered from 2-4pm Tuesdays and Thursdays?" (along with other variations). This cannot be solved by any other tool, and is very difficult to do using any of UW's sites - including UWFlow. UWFlow just doesn't offer the same capability.
          p UWFlow originally solved the problem of getting other students feedback on a specific course. But now it has become bloated trying to solve other problems, and now doesn't solve the original problem very well.
          p Finally, think about how would you go about integrating UWCourses with the current UI of UWFlow? Would it be easy? I think not, but if you do then go right ahead and do it. The code is open source for both projects. I wanted to create a simple, useful project for me that was quick to get going. I also wanted it to have a great and simple UI, which I believe UWflow does not have.

  script(src='/vendor/jquery/dist/jquery.min.js')
  script(src='/vendor/semantic/dist/semantic.min.js')
  //- script(src='/js/home.js')
  include ./partials/ga


