doctype html
html
  head
    link(rel='stylesheet' href="/vendor/semantic/dist/semantic.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
    title Quest Explorer
  body
    h1 Hello Brent
    .ui.three.buttons
      button.ui.button One
      button.ui.button Two
      button.ui.button Three

  script(src="/vendor/jquery/dist/jquery.min.js")
  script(src="/vendor/semantic/dist/semantic.min.js")
