html, body {
  font-family             :  'Lato', Calibri, Arial, sans serif;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

.medium-margin-top {
	margin-top: 50px;
}

.ui.list>.item>.icon+.content {
	width: 100%;
}

.red-text {
	color: @dark-red;
}

.green-text {
	color: @dark-green;
}